<h1> Authors index page</h1>
<br>
<%= link_to "New Parent", "/authors/new" %>


<%@authors.each do |author|%>
  <h3><p>Authors name:<%= author.name %></p></h3>
  <p>Authors Created at: <%= author.created_at %></p>
  <%= link_to "Edit Author:#{author.name}", "/authors/#{author.id}/edit" %>
  <% end %>
