<h1> Authors index page</h1>


<%@authors.each do |author|%>
  <h3><p>Authors name:<%= author.name %></p></h3>
  <p>Authors Created at: <%= author.created_at %></p>
  <% end %>

<%= link_to "New Parent", "/authors/new" %>
