<h1>Book show page </h1>

<h2>Title:<%=@book.title%></h2>
<li>Best Seller:<%=@book.best_seller%></li>
<li>Length of book:<%= @book.pages%> pages</li>
<%= link_to "Update Book", "/books/#{@book.id}/edit" %>
